<main class="main">
  <div class="content">
    <div class="elasp" *ngIf="jauge">
      <p>Temps écoulé : {{ elapsedTimeInSeconds }} secondes</p>
<!--      <button (click)="startTimer()">Démarrer</button>
      <button (click)="stopTimer()">Arrêter</button>
      <button (click)="resetTimer()">Réinitialiser</button>-->
    </div>
    <div class="jauge-container" *ngIf="jauge">
      <div class="jauge" [style.width.%]="scoreSatClient">
        <span>{{ Math.ceil(scoreSatClient) }}</span>
      </div>
    </div>
    <div class="pla-imm" *ngIf="isVisiblePlaque">
      <label for="imm">Plaque immatriculation : </label>
      <input id="imm" name="imm" type="text" placeholder="xx-xxx-xx" [(ngModel)]="plaqueImm"/>
      {{plaqueImm}}
    </div>
    <div *ngIf="isVisibleBonjour" class="dialogue d-bonjour">
      <p>Client: Bonjour</p>
    </div>
    <div *ngIf="isVisibleChoiceDailogue" class="dialogue d-choice">
      <p>Réponse (vous) : </p>
      <div class="flex">
        <button (click)="selectOption('Bonjour')">Bonjour, comment puis-je vous aider ?</button>
        <button (click)="selectOption('Disponible')">Je suis à votre disposition</button>
        <button (click)="selectOption('NePasRepondre')">(Ne pas répondre)</button>
      </div>
    </div>

    <div *ngIf="isVisibleChoiceDailogueEnd" class="dialogue d-choice">
      <p>Actions : </p>
      <div class="flex">
        <button (click)="selectOptionEnd('Bonjour')">Donner les clés au client</button>
        <button (click)="selectOptionEnd('Disponible')">Demander à un technicien de ramener la voiture
          devant le garage</button>
        <button (click)="selectOptionEnd('NePasRepondre')">Racompagner le client jusqu'à la porte</button>
      </div>
    </div>

  </div>
</main>

<router-outlet />
